
html, body {
	overflow: hidden;
}
body {
	background-color: #FFFAEF;
}

/************* SVG *************/
svg {
	
}
path {
	opacity: 0.75;
}
path#dm0 {
	fill: #FFFF00;
}
path#dm1 {
	fill: #FCD37F;
}
path#dm2 {
	fill: #FFAA00;
}
path#dm3 {
	fill: #E60000;
}
path#dm4 {
	fill: #730000;
}

circle.article-dot {
	stroke: black;
	stroke-width: 2;
	fill: white;
}
circle.tweet-dot {
	stroke: #292f33;
	stroke-width: 2;
	fill: #55ACEE;
}
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 7px;
	border: .5px solid white;
	border-spacing: 5px;
	font-size: .7em;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	pointer-events: none;
}
#tooltip::before {
	background: none;
  border: 1px solid black;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  pointer-events: none;
  opacity: .5;
}
#tooltip.hidden {
	display: none;
}

/*********** HTML ***********/
.legend {
	position: absolute;
	width: 147px;
	height: auto;
	border: .5px solid white;
	border-spacing: 5px;
	font-size: .7em;
	font-weight: bold;
	left: 10px;
	bottom: 15px;
}
.legend-header {
	font-size: .85em;
	font-weight: bold;
	text-align: center;
	padding: 3px 0 3px 0;
	position: absolute;
	width: 147px;
	height: auto;
	left: 10px;
	bottom: 150px;
}
table.legend td {
	padding: 0 3px 0 3px;
}
tr#top-row td, tr#bottom-row td {
	padding-bottom: 3px;
}
div.color-key {
	width: 25px;
	height: 25px;
}
div#dm0 {
	background-color: #FFFF00;
}
div#dm1 {
	background-color: #FCD37F;
}
div#dm2 {
	background-color: #FFAA00;
}
div#dm3 {
	background-color: #E60000;
}
div#dm4 {
	background-color: #730000;
}
.article-container {
	top: 35px;
	bottom: 15px;
	position: absolute;
	overflow: auto;
	margin-left: 65px;
	padding: 5px 20px 5px 0px;
	opacity: 0.85;
}
.article-container header {
	font-size: 2em;
	line-height: 1;
	padding: 5px;
	max-width: 510px;
}
.article-container article {
	margin-top: 10px;
	padding: 5px 20px 5px 20px;
	max-width: 30em;
	line-height: 1.5;
	white-space: pre-line;
}
footer {
	font-size: 1.5em;
}
.shadow-box {
	background-color: white;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}